<div class="page-header">
  <h2 class =text-left>Authors

    <%if logged_in? %>
        <a href="/authors/new"><input type="button" value="Add" class="btn btn-danger btn-md pull-right"  ></a>
    <% end %>
  </h2>
</div>

<div class="list-group">
  <%@authors.each do |author| %>
      <a href="/authors/<%=author.id%>" class="list-group-item"> <%=author.name%> </a>
  <% end %>
</div>