<div class="page-header">
<h2>All Authors</h2>
</div>

<%if logged_in? %>
    <a href="/authors/new"><input type="button" value="New Author"></a>
<% end %>
<br><br>

<div class="list-group">
  <%@authors.each do |author| %>
      <a href="/authors/<%=author.id%>" class="list-group-item"> <%=author.name%> </a>
  <% end %>
</div>