<h1>Login</h1>

<form action="/users" method="post">

  <input type="text" name = "user[username]" placeholder="Username..." required autofocus>
  <input type="password" name = "user[password]" placeholder="Password..." required>

  <input type="submit" value ="Login">

</form>